* {
    border: none;
    border-radius: 6px;
    font-family: "ZedMono NF", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
    border-radius: 4px;
    margin: 2px;
}

.module {
    border-radius: 200px;
    background: alpha(@base, 0.5);
    border: 1px solid @surface2;
}

#workspaces,
#window,
#mpris,
#clock,
#network,
#pulseaudio,
#tray {
    color: @lavender;
    padding: 0 10px;
    margin: 2px 4px;
    font-weight: bold;
    transition: 0.2s;
}

#mpris.playing {
    font-weight: bold;
    background: alpha(mix(@base, @green, 0.5), 0.5);
    border: 1px solid alpha(@green, 0.5);
}

#mpris.paused {
    font-style: italic;
}

#workspaces {
    padding: 2px 1px;
}

#workspaces button {
    all: unset;
    background: transparent;
    color: @subtext0;
    padding: 0 12px;
    margin: 0 1px;
    border-radius: 200px;
    transition: 0.2s;
}

#workspaces button:hover {
    background: alpha(@rosewater, 0.8);
    color: @crust;
}

#workspaces button.focused {
    background: alpha(@sky, 0.8);
    color: @crust;
    font-weight: bold;
}

#workspaces button.focused:hover {
    background: alpha(@sky, 1);
    color: @crust;
}

#workspaces button.urgent {
    background: alpha(@red, 0.8);
    color: @crust;
}

#tray {
    padding-right: 8px;
}

tooltip {
    all: unset;
    background: @mantle;
    color: @text;
    border-radius: 200px;
    border: 1px solid @surface2;
}
